Date now = new Date()

/*
 * General Details on config setup:
 * https://www.nextflow.io/docs/latest/config.html
 */

manifest {
    description = 'Proof of concept of a paired-end RNA-seq pipeline implemented with Nextflow on GCP'
    author = 'ayoad@google.com'
    nextflowVersion = '>=20.07.0'
}

profiles {
    'paired-end-GRCh38' {
        // docker
        docker.enabled = true

        // process
        process.executor = 'google-lifesciences'
        process.machineType = 'n1-highmem-8' // replace if needed
        process.container = 'us-central1-docker.pkg.dev/aadev-2541/nextflow-pipelines/demo:2.7.0c' // replace

        // google
        google.project = 'genomics-aiml-demo' // replace
        google.region = 'us-central1' // replace if needed

        // params - data
        params.reads = "gs://ncbi-data-gse135631/*/*_{1,2}.fastq.gz" // replace
        
        // params - annotations
        params.star_index = "gs://assembly-annotation/refdata-gex-GRCh38-2020-A_2.7.0c/star" // replace
        params.annotations_gtf = "gs://assembly-annotation/gencode.v42-reference-data/genes/gencode.v42.annotation.gtf" // replace
        params.annotations_fasta = "gs://assembly-annotation/gencode.v42-reference-data/fasta/GRCh38.primary_assembly.genome.fa" // replace
        
        // params - bigquery outputs
        params.gene_results_table_id = "${google.project}.rnaseq_nf_gene_results.GRCh38_2020_A" // replace
        params.isoform_results_table_id = "${google.project}.rnaseq_nf_isoform_results.GRCh38_2020_A" // replace
        
        // params - gcs result outputs
        params.gcs_bucket = 'nextflow-pipelines-output'
        params.timestamp = now.format('yyyyMMdd-HH-mm-ss')
        params.results_dir = "gs://${params.gcs_bucket}/output/${params.timestamp}/results" // replace
        params.trace_dir = "gs://${params.gcs_bucket}/output/${params.timestamp}/pipeline_info" // replace

        // workDir
        workDir = "gs://${params.gcs_bucket}/scratch/${params.timestamp}"

        // timeline
        timeline.enabled = true
        timeline.file = "${params.trace_dir}/${params.timestamp}_timeline.html"

        // report
        report.enabled = true
        report.file = "${params.trace_dir}/${params.timestamp}_report.html"

        // trace
        trace.enabled = true
        trace.file = "${params.trace_dir}/${params.timestamp}_trace.txt"

        // dag
        dag.enabled = true
        dag.file = "${params.trace_dir}/${params.timestamp}_dag.svg"

        // cleanup
        cleanup = true
    }
}
